@model Lead

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h4">Cadastrar Lead</h2>
        <a href="/Leads" class="btn btn-secondary">Voltar</a>
    </div>
    
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" asp-controller="Leads" asp-action="Delete" >Salvar</button>
    </div>
    <div class="d-flex justify-content-end">
        <a href="/Leads" type="submit" class="btn btn-primary">Cancelar</a>
    </div>
</div>
